.container{
    width: 100%;
    background-color: #000;
}

.treeview{
    background-color: #f3f3f3;
}

.form-div{
    display: block;
    text-align: center;
}

.alert-custom{
    position: absolute !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 50%;
    top: 30%;
    left: 25%;
}

.question-div{
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.question-div label{
    margin-left: 5px;
    margin-top: 5px;
}
